*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}


.container{
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;

}



/* SCREENS */
.screen{
    padding: 2rem;
    text-align: center;
    display: none;
}

.screen.active{
    display: block;
}


/* Start Screen */
#start-screen h1{
    color: darkorange;
    margin-bottom: 20px;
    font-size: 2.5rem;
}