*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}


.container{
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;

}



/* SCREENS */
.screen{
    padding: 2rem;
    text-align: center;
    display: none;
}

.screen.active{
    display: block;
}


/* Start Screen */
#start-screen h1{
    color: darkorange;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#quiz-screen h1{
    color: darkorange;
    margin-bottom: 20px;
    font-size: larger;
}


.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}


.answers-container{
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    margin-bottom: 20px;
}

.answer-btn{
    background-color: #f8f0f8;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1.5rem;
    cursor: pointer;
    text-align: left;
    transition: 0.2s ease all;
}

.answer-btn:hover{
    border-color: #dac0ae;
    background-color: #eadbc8;
}


.answer-btn.correct{
    background-color: rgba(245, 245, 245, 0.836);
    border-color: rgb(132, 207, 151);
    color: green;
}


.answer-btn.incorrect{
    background-color: rgb(230, 223, 219);
    border-color: rgb(137, 42, 26);
    color: red;
}

.progress-bar{
    height: 10px;
    background-color: rgba(184, 179, 179, 0.872);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}


.progress{
    height: 100%;
    background-color: darkorange;
    width: 0%;
    transition: 0.2s ease width;
}

/* result  */
#result-screen h1{
    color:darkorange;
    margin-bottom: 10px;

}

.result-info{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}