*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7749f8;
    --primary-light: #9775fa;
    --dark: #212529;
    --light: #f8f9fa;
    --gray: #6c757d;
    --danger: #ff6b6b;
    --success: #51cf66;
    --border: 1px solid #dee2e6;
}

body{
    font-family: sans-serif;
    background-color: #f1f3f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--dark);
}

.app{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0,0,0,0.18);
}

header{
    background-color: var(--primary-color);
    color: whitesmoke;
    padding: 20px 25px;

}

header h1{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

header p{
    font-size: 14px;
    opacity: 0.9;
}

