*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-image: url(pic.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}

.menu-bar{
   background:darkorange;
   text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover{
    background:orange;
    border-radius: 3px;
}

.sub-menu-bar-1{
    display: none;
}


.menu-bar ul li:hover .sub-menu-bar-1{
    display: block;
    position:absolute;
    background: rgb(116, 112, 107);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-bar-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover  .sub-menu-bar-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover  .sub-menu-bar-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-bar-1 ul li a:hover{
    color: darkorange;
}

.fa fa-angle-right{
    float: right;
}

.sub-menu-bar-1{
    display: none;
}

.hover-me:hover .sub-menu-bar-1{
    position:absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: orange;
}