
h1 {
    background-color: aquamarine;
    color: chocolate;
    font-size: 24px;
}

div{

    /* width and height */
    width: 100%;
    max-width: 400px;
    height: 50vh;

    /* color */
    background-color: limegreen;

    /* fonts */
    font-size: 16px;
    font-weight: bolder;
}