/* Most common CSS properties */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
    background-color: aquamarine;
    color: chocolate;
    font-size: 24px;
}

div{

    /* width and height */
    width: 100%;
    max-width: 400px;
    height: 50vh;

    /* color */
    background-color: limegreen;

    /* fonts */
    font-size: 16px;
    font-weight: bolder;
    font-family: Inter, sans-serif, Arial;

    /* border properties */
    /* border-width: 5px;
    border-style: solid;
    border-color: darkorchid; */
    border: 5px solid darkorchid;
}