/* .box{
    border: 5px solid black;
    width: 200px;
    padding-top: 35px;
    padding-left: 20px;
    margin-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
} */

.box{
    width: 200px;
    border:  5px solid blue;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
}