/* CSS Cheat Sheet for My future Work.*/
/* Most common CSS properties */
/* colors: background-color, color */
/* Size: width, height */
/* Fonts: font-size, font-weight, font-family */
/* Border: border */
/* h1{
    color: #ff8c00;
    font-size: 20px;
    
} */

 /* div{
    /* color */
    /* background-color: blueviolet; */

    /* width and height */
    /* width: 100%;  /* recommended measurements*/
    /* max-width: 400px; recommended measurements */
    /* height: 100vh; */ 
    /* height: 400px; avoid setting the height attribute and use the first two instead*/
    

    /* font */
    /* font-size: 8px; */
    /* font-weight: bold; */
    /* font-family: Arial, Helvetica, sans-serif; */

    /* border */
    /* border-width: 4px;
    border-style: solid;
    border-color: greenyellow; */
    /* A shorter way to combine border-width, border-style & border-color is: */
    /* border: 4px solid greenyellow; */

/* } */


/* specificity */
#first-paragraph{
    color: cyan;
}
#second-paragraph{
    color: rgb(25, 26, 24);
}
div{
    color: darkorange;
}
.paragraph-1{
    color: red;
}

h1{
    color:yellowgreen;
}

/* Box Model */
/* The box model divides the elements on our page into four different layers: content,
padding, border, margin */

.box{
    width: 200px;
    
    border: 4px solid cyan;
    padding: 8px 10px; 
    margin: 8px 10px; * /* recommended to use*//
    box-sizing: border-box; /* this is the recommended one to use.*/
}


/* Advanced CSS properties that is Display and Position */
.title{
    background-color: red;
    position: absolute;
    top: 40px;
    left: 40px;
    
}

.parent{
    background-color: mediumseagreen;
    height: 150px;
    position: relative;
}

.child{
    width: 64px;
    height: 64px;
    background-color: red;
    position: absolute;
    bottom: 50%;
}

.video{
    font-size: 50px;
}

.paragraph{
    font-size: 22px;
}

/* media queries */
@media (max-width:650px){
  .video{
    font-size: 40px;
  }

  .paragraph{
    font-size: 17px;
  }
}
@media (max-width:480px){
  .video{
    font-size: 32px;
  }

  .paragraph{
    font-size: 12px;
  }
}


/* pseudo-selectors */
button{
    transition: 300ms;
}


Button:hover{
    opacity: 10%;
    background-color: red;
    padding: 10px;
}

/* pseudo-elements */
/* h4::before{
  content: "Hey, my name is ";
} */

h4::after{
  content: "My skills are";
}


