*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
body{
    background-image: url('/pic.png');
    background-size: cover;
    background-position: center;

} */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('/pic.png');
    background-size: cover;
    background-position: center;
} 


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content h1{
    font-size: 20px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: rgba(211, 22, 22, 0.621);
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aqua;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: green;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}