/* Basic Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}