*{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}


#banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), #009680), url(mam.jpeg);
    background-size: cover;
    background-position: center;
    
}


.logo{
    width: 140px;
    position: absolute;
    top: 4px;
    left: 17%;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}

.banner-btn{
    
}



