*{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}


#banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), #009680), url(mam.jpeg);
    background-size: cover;
    background-position: center;
    
}


.logo{
    width: 140px;
    position: absolute;
    top: 4px;
    left: 17%;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}

.banner-btn{
    margin: 70px auto 0;

}

.banner-btn a{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s ;
}


.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffff;
    z-index: -1;
    transition: 0.5s ;
}


.banner-btn a:hover span{
    width: 100%;
    
}

.banner-btn a:hover{
    color: black;
    
}


