*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(image.png);
    background-position: center;
    background-size: cover;
}



.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: greenyellow;
    text-transform: uppercase;
}

.logo{
    cursor: pointer;
    width: 120px;

}


.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #009688;
    transition: 0.5s ease;
    left: 0;
    bottom: -15px;
}

.navbar ul li:hover ::after{
    width: 100%;
}

.content h1{
    font-size: 20px;
    margin-top: 70px;
}

.content p{
    color: darkorange;
    margin: 20px auto;
    font-weight: 100;
    font-size: 20px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: aqua;
    transform: translateY(-50%);
}


button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 20px;
    background: transparent;
    color: aqua;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


span{
    height: 100%;
    width: 0;
    background: #009688;
    border-radius: 20px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

button:hover span{
    width: 100%;
}


button:hover{
    border: none;
    color: white;
}


