body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 10px;

}

.hero{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/hero.jpg');
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}
@media (max-width: 480px) {
  .hero {
    background-position: top;
  }
}


.mission{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 0%;
    margin-bottom: 10px;
}

# registration-form{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}



